@import url("https://fonts.googleapis.com/css2?family=Beiruti:wght@200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  body {
    background-color: rgba(246, 238, 219, 1);
  }

  .barra-horizontal::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: rgba(130, 101, 0, 1);
    transform: translateX(-3px);
  }

  .placeholderMax::placeholder {
    font-size: 1.5rem;
  }

  .boxShadowButton {
    box-shadow: 0 8px rgba(143, 160, 108, 1);
  }

  .boxShadowButtonTop {
    box-shadow: -2px 0 rgba(143, 160, 108, 1);
  }

  .afterEmail::after {
    content: "Insira um e-mail ativo.";
    position: absolute;
    font-size: 0.8rem;
  }

  .afterConfirmarSenha::after {
    content: "*Por motivos de segurança, pedimos que digite sua senha novamente para se certificar dela.";
    position: absolute;
    font-size: 0.8rem;
  }

  .stepOneAfter::after {
    content: "Você vai precisar ter acesso ao endereço de e-mail para concluir o processo.";
    position: absolute;
    font-size: 0.8rem;
  }

  .stepTwoAfter::after {
    content: "*Caso não o tenha recebido, verifique a caixa de spam.";
    position: absolute;
    font-size: 0.8rem;
  }
  .stepThreeAfter::after {
    content: "*Por motivos de segurança, pedimos que digite sua nova senha novamente para se certificar dela.";
    position: absolute;
    font-size: 0.8rem;
  }
  .stepThreeAfterNone::after {
    content: "";
    position: absolute;
  }

  @media (min-width: 768px) {
    .stepThreeAfterNone::after {
      width: 80%;
      left: 10.5%;
    }

    .stepOneAfter::after {
      width: 80%;
      left: 10.5%;
      font-size: 1rem;
    }
    .stepTwoAfter::after {
      width: 80%;
      left: 10.5%;
      font-size: 1rem;
    }
    .stepThreeAfter::after {
      width: 80%;
      left: 10.5%;
      font-size: 0.8rem;
    }
    .stepFourAfter::after {
      width: 80%;
      left: 10.5%;
      font-size: 0.6rem;
    }

    .placeholderMax::placeholder {
      font-size: 1.1rem;
    }
  }

  @media (min-width: 1024px) {
    .barra-horizontal::after {
      width: 100%;
      left: 0%;
    }
    .stepOneAfter::after {
      width: 85%;
      left: 8.5%;
    }
    .stepTwoAfter::after {
      width: 90%;
      left: 8.5%;
    }
    .stepThreeAfter::after {
      width: 90%;
      left: 8.5%;
    }
    .stepFourAfter::after {
      width: 90%;
      left: 8.5%;
    }
  }
}
