@import url("https://fonts.googleapis.com/css2?family=Beiruti:wght@200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .barra-horizontal::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: rgba(130, 101, 0, 1);
    transform: translateX(-3px);
  }

  .placeholderMax::placeholder {
    font-size: 1.5rem;
  }
}
